# === Frontend ===
/front-end/node_modules
/front-end/.cache
/front-end/build

# === Backend ===
/back-end/uploads

# === General ===
node_modules/
.cache/
uploads/
*.pack
.env*
.DS_Store

# === Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
